@model Creatives.Models.Creative

@Html.Partial("_PartialThisCreative")

@{
    var a = Model.Chapter.OrderBy(r => r.NumbChapter).ToList();
    
}
@foreach (var item in a)
{
    <div class="row">
        <div class="large-12 columns">
            <article>
                <h2 align="center"> <b >@Html.DisplayFor(modelItem => item.Title)</b></h2>
                <h5 align="justify"> <b > @Html.DisplayFor(modelItem => item.Body)</b></h5>
                
            </article>

            <hr />
        </div>
    </div>

}
