@if (Request.IsAuthenticated)
{
    <a href="#" data-dropdown="drop" class="button  success dropdown">@User.Identity.Name</a><br>
    <ul id="drop" data-dropdown-content class="f-dropdown">
        <li><a href="#">My profile</a></li>
        <li><a href="~/Account/Manage">Change password</a></li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <li><a href="javascript:document.getElementById('logoutForm').submit()">LogOff</a></li>
        }
    </ul>
}
else
{
    <li><a href="~/Account/Register" class="button alert  ">Register</a></li>
    <li><a href="~/Account/Login" class="button [secondary success alert]">Login</a></li>
}
